 /*
Top & Flop template styles 
 */
 
 div.item-image {
     margin-top: 20px;
     margin-bottom: 20px;
 }
 
 div.item-image img {
     -webkit-box-shadow: 5px 5px 5px 0 #000;
     box-shadow: 5px 5px 5px 0 #000;
 }
 
 h2{
   overflow-x: hidden;
 }

 h2.item-title {
     font-size: 18px;
 }

 h2.item-desc {
     font-size: 12px;
 }

h1{
	 -webkit-box-shadow: 5px 5px 5px 0 #000;
    box-shadow: 5px 5px 5px 0 #000;
}

img{
  width: 120px;
  height: 120px;
}

.container{
  background-color: lightgray;
  display: flex;
  align-content: center;
}

.container>div:first-child{
  background-color: #99C68E;
  margin-right: 20px;
  width: 50%;
}

.container>div:last-child{
  background-color: #E77471;
  margin-left: 20px;
  flex-grow: 1;
}