<?xml version="1.0"?>
<configuration>
   <system.webServer>
    <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
     </staticContent>
      <defaultDocument enabled="true">    <!-- this line enables default documents for a directory -->
         <files>      
          <clear/>     <!-- removes the existing default document list -->                
          <add value="App_Template.html"/>     <!-- App_Template.htmlis now the default document  -->
         </files>
      </defaultDocument>
   </system.webServer>
</configuration>